[project]
	description = Working repository for EA-976 undergrad class on Software Engineering at University of Campinas
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ra140561
[access "refs/for/refs/*"]
	read = group user/ra140561
	push = group user/ra140561
	label-Code-Review = -2..+2 group user/ra140561
	label-Verified = -1..+1 group user/ra140561
	rebase = group user/ra140561
	removeReviewer = group user/ra140561
	submit = group user/ra140561
[access "refs/heads/*"]
	read = group user/ra140561
	create = group user/ra140561
	push = +force group user/ra140561
	pushMerge = group user/ra140561
[access "refs/tags/*"]
	push = +force group user/ra140561
	pushTag = group user/ra140561
	pushSignedTag = group user/ra140561
